html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  background-image: url("../../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #e0e8ff;
}

.card {
  max-width: 450px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  margin: 0 15px;
}
.card-img {
  object-fit: cover;
}
.card-content {
  padding: 50px;
}
.card-desc {
  text-align: center;
}
.card-title {
  font-weight: 900;
  font-size: vmax(30px);
  margin-bottom: 20px;
  color: #1f2f56;
}
.card-text {
  color: #7280a7;
  margin-bottom: 15px;
  line-height: 1.5;
}
.card-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 25px;
  background-color: #f5f7ff;
  border-radius: 10px;
  margin-bottom: 32px;
}
.card-option-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.card-option-right a {
  font-weight: 700;
  transition: all 0.5s;
}
.card-option-right a:hover {
  color: #7280a7;
}
.card-func {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-left: 20px;
}
.card-func-name {
  font-weight: 700;
  margin-bottom: 14px;
  color: #1f2f56;
}
.card-func-coin {
  color: #7280a7;
}
.card-button {
  text-align: center;
  cursor: pointer;
}
.card-button button {
  font-weight: 700;
}
.card-submit {
  border-radius: 10px;
  background-color: #3829e0;
  padding: 15px;
  margin-bottom: 35px;
  box-shadow: 0 20px 15px 0 #e0e8ff;
  transition: all 0.5s;
}
.card-submit button {
  color: #fff;
}
.card-submit:hover {
  background-color: #7280a7;
}
.card-cancel button {
  color: #7280a7;
}
.card-cancel button:hover {
  color: #1f2f56;
}

@media screen and (max-width: 426px) {
  .card-content {
    padding: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
